<!--<!DOCTYPE html>-->
<!--&lt;!&ndash;<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"&ndash;&gt;-->
<!--&lt;!&ndash;      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">&ndash;&gt;-->

<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">-->
<!--<head>-->
<!--  <meta charset="utf-8"/>-->
<!--  <title>Chat App</title>-->

<!--  <link th:rel="stylesheet" th:href="@{/css/chatLayout.css}">-->
<!--  &lt;!&ndash;  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>&ndash;&gt;-->
<!--  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
<!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->

<!--</head>-->
<!--<body>-->
<!--<div class="wrap">-->
<!--  <div class="c_main_1">-->
<!--    <div class="c_logo">로고</div>-->
<!--    <div class="c_info" layout:fragment="content">-->
<!--      그룹정보(그룹이름, 그룹창, 탈퇴/그룹 삭제 버튼)-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="c_main_2" layout:fragment="content2">-->
<!--    <div class="c_chat_list">그룹, 채팅리스트</div>-->
<!--    <div class="c_chat_inner">그룹캘린더/채팅/멤버리스트</div>-->
<!--  </div>-->
<!--</div>-->

<!--</body>-->
<!--<script layout:fragment="script" th:inline="javascript">-->


<!--</script>-->
<!--</html>-->